on:
  workflow_dispatch:
  push:
    branches:
      - publish/dev
    paths:
      - "src/**"
      - "k8s/**"
      - "Dockerfile"
      - ".github/workflows/deploy2kube2dev.yaml"
      - "migrations/**"
      - "pyproject.toml"
    
jobs:
  build:
    name: CICD
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Define App Name
        run: | 
          echo "APP_NAME=<project_name>-dev" >> $GITHUB_ENV
          echo ${{ env.APP_NAME }}

      - name: Define K8S namespace
        run: | 
          echo "TARGET_NAMESPACE=<project_name>-dev-ns" >> $GITHUB_ENV
          echo ${{ env.TARGET_NAMESPACE }}

      - name: Define docker tag
        run: |
          echo APP_VERSION=$(grep -Po '(?<=^version = ")[^"]*' pyproject.toml) >> $GITHUB_ENV
          echo APP_IMAGE="<docker_username>/${{ env.APP_NAME }}dev:${{ env.APP_VERSION }}" >> $GITHUB_ENV

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ env.APP_IMAGE }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
          build-args: |
            GITHUB_SHA=${{ github.sha }}

      - name: 'Add K8S context'
        run: |
          echo ${{ secrets.KUBECONFIG }} > ~/kubeconfig.yaml
          kubectl --kubeconfig ~/kubeconfig.yaml config current-context

      - name: Install yq
        run: |
          wget https://github.com/mikefarah/yq/releases/latest/download/yq_linux_amd64 -O /usr/local/bin/yq
          chmod +x /usr/local/bin/yq
  
      - name: Modify YAML file with yq
        run: |
          yq eval '.spec.template.spec.imagePullSecrets += [{"name": "${{ vars.DEV_DOCKER_AUTH }}"}]' -i k8s/dbmigration_job.yaml
          yq eval '.spec.template.spec.imagePullSecrets += [{"name": "${{ vars.DEV_DOCKER_AUTH }}"}]' -i k8s/deployment.yaml

      - name: Database migration
        run: |
          export DATABASE_URL=${{ secrets.DEV_DATABASE_URL }}
          envsubst < k8s/dbmigration_job.yaml | kubectl --kubeconfig ~/kubeconfig.yaml apply --force -n ${{ env.TARGET_NAMESPACE }} -f -

      - name: Wait for job to complete
        run: |
          export JOB_NAME={{cookiecutter.project_slug}}-dbmigration-job
          kubectl --kubeconfig ~/kubeconfig.yaml wait --for=condition=complete --timeout=30s job/$JOB_NAME -n ${{ env.TARGET_NAMESPACE }}

      - name: Get job exit code
        id: get-exit-code
        run: |
          export POD_NAME=$(kubectl get pods --selector=job-name=$JOB_NAME -n ${{ env.TARGET_NAMESPACE }} -o jsonpath='{.items[0].metadata.name}')
          export EXIT_CODE=$(kubectl get pod $POD_NAME -n ${{ env.TARGET_NAMESPACE }} -o jsonpath='{.status.containerStatuses[0].state.terminated.exitCode}')
          echo "::set-output name=exit-code::$EXIT_CODE"

      - name: Check exit code
        run: |
          if [ "${{ steps.get-exit-code.outputs.exit-code }}" -ne 0 ]; then
            echo "Migration job failed with exit code ${{ steps.get-exit-code.outputs.exit-code }}"
            exit 1
          else
            echo "Migration job completed successfully"
          fi

      - name: 'Apply k8s manifests'
        run: |
          export DATABASE_URL=${{ secrets.DEV_DATABASE_URL }}
          export REDIS_URL=${{ secrets.DEV_REDIS_URL }}
          export JWT_SECRET_KEY=${{ secrets.DEV_JWT_SECRET_KEY }}
          export JWT_ALGORITHM=${{ secrets.DEV_JWT_ALGORITHM }}
          export JWT_ACCESS_TOKEN_EXPIRE_MINUTES=${{ secrets.DEV_JWT_ACCESS_TOKEN_EXPIRE_MINUTES }}
          envsubst < k8s/deployment.yaml | kubectl apply --kubeconfig ~/kubeconfig.yaml -n ${{ env.TARGET_NAMESPACE }} -f -
